body {
  padding: 0px;
  font-family: sans-serif;
  background-color: whitesmoke;
}

.header-title {
  text-align: center;
}

.post-container {
  padding: 20px;
  background-color: white
}

.post-container {
  margin-bottom: 25px;
}
